/* Carga de fuentes personalizadas (Google Fonts) */
/* Se importa aquí y en el HTML para máxima compatibilidad */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@400;600&display=swap');


/* Estilos para la animación de nieve */
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.8;
    animation: fall linear infinite;
    z-index: 1000;
}

/* Define la animación de caída de la nieve */
@keyframes fall {
    to {
        transform: translateY(100vh); 
    }
}
