/* Configuración de la fuente y colores */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&display=swap');

:root {
    --color-primary: #B22222; /* Rojo Ladrillo/Fuego */
    --color-secondary: #FFD700; /* Dorado */
    --color-text-light: #F5F5F5; /* Blanco Ahumado */
    --color-text-dark: #333333; /* Gris Oscuro */
}

.font-title {
    font-family: 'Playfair Display', serif;
}
.font-body {
    font-family: 'Inter', sans-serif;
}

/* Estilos de Tailwind personalizados */
.posada-bg {
    background-color: var(--color-primary);
    background-image: linear-gradient(180deg, #8B0000 0%, var(--color-primary) 100%);
}
.gold-border {
    border: 2px solid var(--color-secondary);
}
.gold-text {
    color: var(--color-secondary);
}
.text-light {
    color: var(--color-text-light);
}
.bg-light {
     background-color: var(--color-text-light);
}

/* Estilos para la animación de nieve */
.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.8;
    animation: fall linear infinite;
    z-index: 1000; /* Asegura que esté por encima de todo */
}

/* Define la animación de caída de la nieve */
@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
